<h2>Login</h2>

<% if @errors %>
  <h3><%= @errors %></h3>
<% end %>

<form class="" action="/login" method="post">
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Password:</label>
  <input type="password" name="password">
  <input class="button" type="submit" value="Login">
</form>
