<h2>Login</h2>

<form class="" action="/login" method="post">
  <label>Email:</label>
  <input type="text" name="user[email]"><br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <input class="button" type="submit" value="Login">
</form>
