<h2>Register</h2>

<form class="" action="/register" method="post">
  <label>Email:</label>
  <input type="text" name="user[email]"><br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <input class="button" type="submit" value="Register">
</form>
