<h2>Register</h2>

<% if @errors %>
  <h3><%= @errors %></h3>
<% end %>

<form class="" action="/register" method="post">
  <label>Email:</label>
  <input type="text" name="user[email]"><br>
  <label>Name:</label>
  <input type="text" name="user[name]"><br>
  <label>Favorite beer:</label>
  <input type="text" name="user[favoirte_beer]"><br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <input class="button" type="submit" value="Register">
</form>
